{% extends 'base.html.twig' %}

{% block title %}Détails - sheet{% endblock %}

{% block body %}
<h1 class="mt-3">Détails </h1>
<hr>
<p> {{sheet.description|raw }} </p>
<div>
    <small class="text-muted mb-2">Note :</small>
    {{ sheet.shortInfo }}
</div>
<div>
    <small class="text-muted mb-2">Statut :</small>
    {{ sheet.status }}
</div>
<hr>
<a href="{{ path('content', {'id': sheet.content.id }) }}" class="btn btn-sm btn-outline-secondary">Retour</a>
{% endblock %}
